// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap");

* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

iframe {
	border-width: 0;
}

a {
	background-color: transparent;
	color: inherit;
	-webkit-text-decoration: inherit;
	text-decoration: inherit;
}

button {
	text-decoration: none;
	border: none;
	box-shadow: none;
	border-radius: 13px;
	background: #fff;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
