@use "../utilities/mixins";
@use "../utilities/variables";



.bg-green {
	background-color: variables.$green;
}

.bg-purple {
	background-color: variables.$purple;
}

.bg-blue {
	background-color: variables.$blue;
}

.bg-brown {
	background-color: variables.$brown;
}

.bg-dark-pink {
	background-color: variables.$dark-pink;
}

.bg-black {
	background-color: black;
}