@use "../utilities/mixins";
@use "../utilities/variables";

.container {
	position: relative;
	overflow: scroll;
	scroll-snap-type: both mandatory;
	overscroll-behavior-x: contain;
	width: 100vw;
	height: 100vh;
}

.section {
	position: relative;
	scroll-snap-stop: always;
	scroll-snap-align: center;
	height: 100%;
}

.mobile {
	display: none !important;
	@include mixins.for-phone-only {
		display: block !important;
	}
}
.desktop {
	display: none !important;
	@include mixins.for-tablet-portrait-up {
		display: block !important;
	}
}

.section-padding {
	padding-left: variables.$section-padding;
	padding-right: variables.$section-padding;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}

.overflow-hidden {
	overflow: hidden;
}

.bg-green {
	background-color: variables.$green;
}
.bg-purple {
	background-color: variables.$purple;
}
.bg-blue {
	background-color: variables.$blue;
}
.bg-brown {
	background-color: variables.$brown;
}
.bg-dark-pink {
	background-color: variables.$dark-pink;
}
.bg-black {
	background-color: black;
}

.bottom-border-blue {
	border-bottom: 10px solid variables.$light-blue;
	width: fit-content;
}
