@use "../utilities/mixins";
@use "../utilities/variables";

/**
 * Basic typography style for copy text
 */

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
	color: variables.$text-color;
	font-family: "Funnel Display", sans-serif;
	font-size: 1em;
}

.title {
	font-family: "Familjen Grotesk", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: -0.84px;
	line-height: 95%;
	font-style: normal;
}

.title2 {
	font-family: "Familjen Grotesk", sans-serif;
	font-size: 3.5rem;
	font-weight: 500;
	letter-spacing: -0.8px;
	line-height: 95%;
}

.title3 {
	font-family: "Familjen Grotesk";
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 95%; /* 19px */
	letter-spacing: -0.4px;
}

.title4 {
	font-family: "Helvetica Neue";
	font-size: 28.944px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 22.944px */
	letter-spacing: 0.918px;
}

.subtitle {
	font-family: "Familjen Grotesk", sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 95%; /* 42.75px */
	letter-spacing: -0.9px;
}

.text-light {
	font-weight: 300;
}

.text-normal {
	font-weight: 500;
}

.text-bold {
	font-weight: 700;
}

.text-italic {
	font-style: italic;
}

.text-green {
	color: variables.$light-green;
}
.text-light-purple {
	color: variables.$light-purple;
}
.text-light-blue {
	color: variables.$light-blue;
}
.text-white {
	color: white;
}

.text-right {
	text-align: right;
}
