@use "../utilities/mixins";

.section-7 > .section-body {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    .sponsor {
        background-color: #e6e6e6;
        margin: 0.5rem;
        border-radius: 1rem;
        display: flex;
        img {
            object-fit: cover;
            max-width: 80%;
            margin: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    @include mixins.for-phone-only {
        .cell {
            width: 50%;
        }
    }
    @include mixins.for-tablet-portrait {
        .cell {
            width: 33%;
        }
    }
    @include mixins.for-tablet-landscape-up {
        .cell {
            width:20%;
        }
    }
}
