@use "../utilities/mixins";


$primary: #f9954b;
$secondary: #4d2e17;

.section-5>.section-header {
    .section-header-title {
        color: $primary;
    }

    .section-header-description {
        pre {
            color: $primary;
        }

        .modal-btn {
            background-color: $primary;
        }
    }
}

.section-5 > .section-body {
    .map {
        img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }
    }
    @include mixins.for-phone-only {
        .map {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .map-info {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include mixins.for-tablet-portrait {
        .map {
            width: 55%;
            margin-left: auto;
            margin-right: auto;
        }
        .map-info {
            width: 55%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include mixins.for-tablet-landscape-up {
        .map {
            width: 50%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .map-info {
            width: 50%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .map-card {
        background-color: #f2f2f2;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-flow: column wrap;
        max-height: 15rem;

        h3 {
            width: 50%;
            align-items: center;
            display: flex;
            margin: 0.5rem 0 0.5rem 0;
            color: $secondary;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
